    <mat-tab-group>
    <mat-tab label="Weather Now" > 
        <section>
            <div class="cityname" fxLayout="column" fxLayoutAlign="center center">
            <label for="my-city" class="sr-only"><strong>Enter Your City</strong></label>
                <input type="text" class="form-control" [(ngModel)]="cityName">
                 <p>{{cityName}}</p>
                 <button mat-raised-button color="primary" (click)="addCity()">Add City</button>
                </div>  
    </section>
         <section class="weatherNow" [ngStyle]="{'background-image': getUrl(),background:'no-repeat',backgroundSize:'cover'}">   
        <div class="weather" fxLayout fxLayoutAlign="center center" >
        <mat-card [ngStyle]="{backgroundImage:getImg(),background:'no-repeat',backgroundSize:'cover', width:'50%'}">

        <div class= "info" fxLayout="column" fxLayoutAlign="center center">
            <h1><font size=25>{{city}}</font></h1>
            <h2><font size=5>{{state}}</font></h2>
            <h3><font size=55>{{temp}}℃</font></h3>
        </div> 
    </mat-card>
    </div>

<div class="description" >
    <mat-card [ngStyle]="{background:Img()}">
        <p fxLayoutAlign="center center">Today: {{state}} currently.It's {{temp}}℃. The high today was forecast as {{tempMax}}℃.</p><hr>
   <section class="sun" >
    <div class="sun1" flexLayout="row" fxLayoutGap="20px" fxFlex>
                    <mat-card-subtitle>Sunrise</mat-card-subtitle>
                    <mat-card-title>{{rise}}</mat-card-title>
            </div>
            <div flexLayout="row" fxLayoutGap="20px" fxFlex>
                    <mat-card-subtitle>Sunset</mat-card-subtitle>
                    <mat-card-title>{{set}}</mat-card-title>
                    </div>
   </section><hr>
   <section class="wind">
                    <div class="wind1" flexLayout="row" fxLayoutGap="20px" fxFlex>
                            <mat-card-subtitle>Wind</mat-card-subtitle>
                            <mat-card-title>{{wind}}km/h</mat-card-title>
                    </div>
                    <div flexLayout="row" fxLayoutGap="20px" fxFlex>
                            <mat-card-subtitle>Feels Like</mat-card-subtitle>
                            <mat-card-title>{{like}}℃</mat-card-title>
                            </div>
                </section>
            </mat-card>
            
       
        </div>
        </section>
    </mat-tab>
        
    <mat-tab label="3Hours Forecast">
    <section class="forecast" [ngStyle]="{'background-image': getUrl(),background:'no-repeat',backgroundSize:'cover'}">
            <mat-card >
             <div class="forecast-info">
            <mat-card-content fxLayoutGap="20px" >
                <div fxLayout="row" fxLayoutAlign="left" >
                      
                     <p>{{day1Name}}<br>
                    {{day1State}}<br>
                <strong><font size=5>{{day1Temp}}℃</font></strong></p></div>
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day2Name}}<br>
                            {{day2State}}<br>
                        <strong><font size=5>{{day2Temp}}℃</font></strong></p></div>
                        
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day3Name}}<br>
                            {{day3State}}<br>
                        <strong><font size=5>{{day3Temp}}℃</font></strong></p></div>
                        
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day4Name}}<br>
                            {{day4State}}<br>
                        <strong><font size=5>{{day4Temp}}℃</font></strong></p></div>
               
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day5Name}}<br>
                            {{day5State}}<br>
                        <strong><font size=5>{{day5Temp}}℃</font></strong></p></div>
                
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day6Name}}<br>
                            {{day6State}}<br>
                        <strong><font size=5>{{day6Temp}}℃</font></strong></p></div>
                
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day7Name}}<br>
                            {{day7State}}<br>
                        <strong><font size=5>{{day7Temp}}℃</font></strong></p></div>
                
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day8Name}}<br>
                            {{day8State}}<br>
                        <strong><font size=5>{{day8Temp}}℃</font></strong></p></div>
               
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day9Name}}<br>
                            {{day9State}}<br>
                        <strong><font size=5>{{day9Temp}}℃</font></strong></p></div>
                
                <div flexLayout="row" fxFlex>
                        
                        <p>{{day10Name}}<br>
                            {{day10State}}<br>
                        <strong><font size=5>{{day10Temp}}℃</font></strong></p></div>
               
                
                    </mat-card-content>
                </div>
                
                </mat-card>
                    
        </section> </mat-tab>
    
  </mat-tab-group>

    

  


