.weatherNow{
    padding:20px;
}

.info{
    text-align: center;
    padding: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgray;
    
}
h1{
    font-size: 35px;
    }

.sun{
    text-align: center;
    color: bisque;
}
.wind{
    text-align: center;
    color: bisque;
}
.description{
    padding: 1px;
    }
.forecast{
    padding:200px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
