.weather{
    padding:100px;
    background-color: blueviolet;
     
}

.info{
    text-align: center;
    padding: .5px;
    
}
h1{
    font-size: 35px;
    color: blanchedalmond;
}
h2{
    font-size:15px;
    color: blanchedalmond;
}
h3{
    font-size: 50px;
    color: blanchedalmond;
}
.forecast-info{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
