

.info{
    text-align: center;
    padding: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    
}
h1{
    font-size: 35px;
    }
.forecast{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
.sun{
    text-align: center;
}
.wind{
    text-align: center;
}
.description{
    padding: 50px;
}
.forecast{
    padding:200px;
    
}
